.footer{
    padding: 4rem 8rem;
    display: flex;
    column-gap: 8rem;
    background-color: #172554;
   color: white;
    justify-content: center;
    margin-top: 8rem;
}
.footerchild{
    display: flex;
    flex-direction: column;
    row-gap: .7rem;
    cursor: pointer;
}
.footerchild h1{
    font-size: 1.4rem;
    font-weight: 600;
}

@media only screen and (max-width: 760px){
    .footer{
        column-gap: 1.5rem;
        padding: 1rem 2rem;

    }
    .footerchild h1{
font-size: medium;
    }
    .footerchild p{
        font-size: smaller;
    }
}

